# Check SMART data
command[check_smart_sda]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sda -i ata
command[check_smart_sdb]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdb -i ata
command[check_smart_sdc]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdc -i ata
command[check_smart_sdd]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdd -i ata
command[check_smart_sde]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sde -i ata
command[check_smart_sdf]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdf -i ata
command[check_smart_sdg]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdg -i ata
command[check_smart_sdh]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdh -i ata
command[check_smart_sdi]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdi -i ata
command[check_smart_sdj]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdj -i ata
command[check_smart_sdk]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdk -i ata
command[check_smart_sdl]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdl -i ata
command[check_smart_sdm]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdm -i ata
command[check_smart_sdn]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdn -i ata
command[check_smart_sdo]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdo -i ata
command[check_smart_sdp]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdp -i ata
command[check_smart_sdq]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdq -i ata
command[check_smart_sdr]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdr -i ata
command[check_smart_sds]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sds -i ata
command[check_smart_sdt]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdt -i ata
command[check_smart_sdu]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdu -i ata
command[check_smart_sdv]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdv -i ata
command[check_smart_sdw]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdw -i ata
command[check_smart_sdx]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdx -i ata
command[check_smart_sdy]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdy -i ata
command[check_smart_sdz]=/usr/bin/sudo /usr/lib/nagios/plugins/check_smart -d /dev/sdz -i ata
