# Check MD Raid Status
command[check_md0]=/usr/lib/nagios/plugins/check_mdraid md0
command[check_md1]=/usr/lib/nagios/plugins/check_mdraid md1
command[check_md2]=/usr/lib/nagios/plugins/check_mdraid md2
command[check_md3]=/usr/lib/nagios/plugins/check_mdraid md3
command[check_md4]=/usr/lib/nagios/plugins/check_mdraid md4
command[check_md5]=/usr/lib/nagios/plugins/check_mdraid md5
command[check_md6]=/usr/lib/nagios/plugins/check_mdraid md6
command[check_md7]=/usr/lib/nagios/plugins/check_mdraid md7
command[check_md8]=/usr/lib/nagios/plugins/check_mdraid md8
command[check_md9]=/usr/lib/nagios/plugins/check_mdraid md9
