# Check drive health
command[check_smart2_sda]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sda
command[check_smart2_sdb]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdb
command[check_smart2_sdc]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdc
command[check_smart2_sdd]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdd
command[check_smart2_sde]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sde
command[check_smart2_sdf]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdf
command[check_smart2_sdg]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdg
command[check_smart2_sdh]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdh
command[check_smart2_sdi]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdi
command[check_smart2_sdj]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdj
command[check_smart2_sdk]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdk
command[check_smart2_sdl]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdl
command[check_smart2_sdm]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdm
command[check_smart2_sdn]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdn
command[check_smart2_sdo]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdo
command[check_smart2_sdp]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdp
command[check_smart2_sdq]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdq
command[check_smart2_sdr]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdr
command[check_smart2_sds]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sds
command[check_smart2_sdt]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdt
command[check_smart2_sdu]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdu
command[check_smart2_sdv]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdv
command[check_smart2_sdw]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdw
command[check_smart2_sdx]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdx
command[check_smart2_sdy]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdy
command[check_smart2_sdz]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device /dev/sdz
