# Check disk templates
command[check_disk_home]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -W 20% -K 10% -p /home
command[check_disk_root]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -W 20% -K 10% -p /
command[check_disk_srv]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -W 20% -K 10% -p /srv
command[check_disk_var]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -W 20% -K 10% -p /var

