# Check drive health
command[check_smart2_sda]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sda
command[check_smart2_sdb]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdb
command[check_smart2_sdc]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdc
command[check_smart2_sdd]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdd
command[check_smart2_sde]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sde
command[check_smart2_sdf]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdf
command[check_smart2_sdg]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdg
command[check_smart2_sdh]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdh
command[check_smart2_sdi]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdi
command[check_smart2_sdj]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdj
command[check_smart2_sdk]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdk
command[check_smart2_sdl]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdl
command[check_smart2_sdm]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdm
command[check_smart2_sdn]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdn
command[check_smart2_sdo]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdo
command[check_smart2_sdp]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdp
command[check_smart2_sdq]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdq
command[check_smart2_sdr]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdr
command[check_smart2_sds]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sds
command[check_smart2_sdt]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdt
command[check_smart2_sdu]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdu
command[check_smart2_sdv]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdv
command[check_smart2_sdw]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdw
command[check_smart2_sdx]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdx
command[check_smart2_sdy]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdy
command[check_smart2_sdz]=/usr/bin/sudo /usr/lib/nagios/plugins/check_hdd_health --device sdz
