Source: monitoring-plugins-storage
Section: utils
Priority: optional
Maintainer: Celestine GRAMAIZE <celestine+dev@gramaize.eu>
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: monitoring-plugins-storage
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, smartmontools (>= 7.2)
Recommends: nagios-nrpe-server
Description: Nagios plugins for monitoring storage metrics
 Simple NRPE-compatible plugins to monitor storage-related metrics
 (most notably SMART, RAID and some disk targets)
